
:root {
  background: linear-gradient(180deg, rgba(171,0,255,1) 0%, rgba(121,9,92,1) 50%, rgba(2,0,36,1) 100%);
  --secondary-background-color: rgba(30, 106, 237, 0.836);

  --dev-dropzone-bkg-color: rgba(170, 0, 255, 0.238);
  --res-dropzone-bkg-color: rgba(106, 8, 80, 0.862);
  --comp-dropzone-bkg-color: rgb(51, 15, 61);

  --primary-text-color: #f1ecec;
  --secondary-text-color: #0a0a0a;

  --primary-shadow-color: rgba(97, 63, 63, 0.2);
  --secondary-shadow-color: rgba(0, 0, 0, 0.19);

  --link-color: #0000ee;

}

[data-theme="dark"] {
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(121,9,92,1) 60%,  rgba(171,0,255,1) 100%);
  --secondary-background-color: #6e6e6e;

  --primary-text-color: #f1ecec;
  --secondary-text-color: #0a0a0a;

  --dev-dropzone-bkg-color: rgb(51, 15, 61);
  --res-dropzone-bkg-color: rgba(106, 8, 80, 0.862);
  --comp-dropzone-bkg-color: rgba(170, 0, 255, 0.238);

  --primary-shadow-color: rgba(51, 46, 46, 0.853);
  --secondary-shadow-color: rgba(92, 40, 82, 0.479);

  --link-color: #0000ee;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary-text-color);
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.theme-button {
  background-color: var(--secondary-background-color);
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  height: 40px;
  width: 50px;
  position:absolute;
  top: 26px;
  right: 10px;
}

.theme-button span {
  color: var(--primary-text-color);
}

header {
  align-items: center;
  align-self: center;
  display: flex;
  height: 50px;
  box-shadow: 0 4px 8px 0 var(--primary-shadow-color), 0 6px 20px 0 var(--secondary-shadow-color);
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--primary-background-color);
}

header h1{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 100%;
}

.start {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  height: 100%;
}

.start span {
  font-size: 30px;
  font-weight: bolder;
  padding: 10px;
  padding-top: 200px;
}

.app-container {
  height: 100vmax;
  display: flex;
  flex-direction: column;
  
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 35px;
}

.card {
  border-radius: 5px;
  border: 1px solid rgba(73, 73, 73, 0.521);
  box-shadow: 0 4px 8px 0 var(--primary-shadow-color), 0 6px 20px 0 var(--secondary-shadow-color);
  justify-items: center;
  min-width: 250px;
  max-width: 250px;
  min-height: 300px;
  max-height: 300px;
  margin: 5px;
  padding: 10px;
  background-color: var(--secondary-background-color);
  cursor: grab;
  overflow: scroll;
  overflow-x: hidden;
}

.card:hover {
  transform: translateY(-15px);
}

.card:active {
  cursor: grabbing;
  opacity: 0.5;
}

.card .h1 {
  font-size: large;
  font-weight: bolder;
  padding: 10px;
  padding-bottom: 0px;
}

.card span {
  color: var(--primary-text-color);
  font-size: large;
  margin: 2px;
  font-weight: bold;
}

.card-button {
  display: flex;
  flex-direction: column;
  padding : 10px;
  width: 100%;
  margin-top: 8%;
}

.card-button button {
  border-radius: 5px;  
  border: 1px solid var(--primary-background-color);
  cursor: pointer;
  font-size: large;
  font-weight: bold;
}

.dev-work-dropzone {
  position: absolute;
  width: 85%;
  height: 45%;
  border : 1px; 
  border-color: var(--dev-dropzone-bkg-color);
  border-radius: 8px;
  align-items: flex-start;
  top: 15%;
  background-color: var(--dev-dropzone-bkg-color);
  box-shadow: 0 4px 8px 0 var(--primary-shadow-color), 0 6px 20px 0 var(--secondary-shadow-color);
  display: flex;
  flex-direction: column;
  opacity: 1;
  overflow: scroll;
 
}

.dropzone-title {
  font-weight: bolder;
  font: 20pt/0 Arial;
  padding: 0 3px;
}

.research-dropzone {
  position: absolute;
  width: 85%;
  height: 45%;
  border : 1px solid;
  border-color: var(--primary-shadow-color);
  border-radius: 8px;
  align-items: flex-start;
  top: 68%;
  background-color: var(--res-dropzone-bkg-color);
  box-shadow: 0 4px 8px 0 var(--primary-shadow-color), 0 6px 20px 0 var(--secondary-shadow-color);
  display: flex;
  flex-direction: column;
  opacity: 1;
  overflow: scroll;
}

.completed-dropzone {
  position: absolute;
  width: 85%;
  height: 45%;
  border : 1px solid;
  border-color: var(--primary-shadow-color);
  border-radius: 8px;
  align-items: flex-start;
  top: 120%;
  background-color: var(--comp-dropzone-bkg-color);
  box-shadow: 0 4px 8px 0 var(--primary-shadow-color), 0 6px 20px 0 var(--secondary-shadow-color);
  display: flex;
  flex-direction: column;
  opacity: 1;
  overflow: scroll;
}